.symbol
  padding 3px 0.5px
  border-radius 2px
  background-color color-symbol-back
  color color-symbol-text
  font-weight 600
  line-height 28px

  &--passed
    background-color color-symbol-passed-back
    color color-symbol-passed-text

  &--current
    background-color color-symbol-current-back
    color color-symbol-current-text

  &--wrong
    background-color color-symbol-wrong-back
    color color-symbol-wrong-text
