.layout
  display flex
  flex-direction column
  box-sizing border-box
  width 80%
  margin 0 auto
  min-height calc(100vh)
  padding 40px 60px
  background-color color-app-back
  shadow(color-app-shadow)
