width-desktop = 1024px

color-app-back = #F8F9FA
color-app-text = #000000
color-app-shadow = #b7c2c9

color-stats-text = #117485

color-button-back = #117485
color-button-text = #F8F9FA

color-symbol-back = #F8F9FA
color-symbol-text = #000000

color-symbol-passed-back = #F8F9FA
color-symbol-passed-text = #3e9123

color-symbol-current-back = #3e9123
color-symbol-current-text = #F8F9FA

color-symbol-wrong-back = #d4041d
color-symbol-wrong-text = #F8F9FA

color-hint-back = #d3e6d0
color-hint-text = #4d4d4d

color-hint-warning-back = #f9cdcc
color-hint-warning-text = #b65350
