.stats
  display flex
  justify-content center
  flex-wrap wrap

  &__item
    display flex
    flex-direction column
    align-items center
    padding 20px

    &-title
      margin 0 0 10px 0
      font-size 18px
      text-align center
      text-transform uppercase
      color color-stats-text

    &-value
      font-weight 600
      font-size 20px

    &-units
      color color-stats-text
