random(min, max)
  return floor(math(0, 'random')*(max - min + 1) + min)

bounds()
  background rgba(random(1, 255), random(1, 255), random(1, 255), 0.3)
  outline 1px solid rgb(random(1, 255), random(1, 255), random(1, 255))

hide()
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip rect(0 0 0 0)
  overflow hidden

shadow(color)
  box-shadow 0px 2px 16px 0px color

animation-slide-in-left()
  @keyframes slide-in-left
    from
      transform translateX(-1000px)
      opacity 0
    to
      transform translateX(0)
      opacity 1

  animation-name slide-in-left
  animation-duration 0.3s

animation-pulse(color)
  @keyframes pulse
    from
      box-shadow 0 0 0 0 rgba(color, 0.4)
    70%
      box-shadow 0 0 0 10px rgba(color, 0)
    to
      box-shadow 0 0 0 0 rgba(color, 0)

  animation-name pulse
  animation-duration 2s
  animation-iteration-count infinite
  background-color color
  box-shadow 0 0 0 rgba(color, 0.4)
