.message
  padding 20px
  border-radius 4px
  background-color color-hint-back
  color color-hint-text
  animation-slide-in-left()
  shadow(color-app-shadow)

  &--warning
    background-color color-hint-warning-back
    color color-hint-warning-text
